.noteNew {
    /* Your styles for the new note component */
    padding: 10px;
    background-color: #483e63;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 15px;
}

.addIcon {
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

